html {
    min-width: min-content;
    
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-width: 1029px;
    min-height: 200vh;
    background-color: var(--body-light-bg);
    zoom:-50%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
   

}

.page-container{
    max-width: 1500px;
    margin: 0 auto;
   
}

.card-container {
    position: relative;
    height: calc(100vh - 60px);
    z-index: 200;
    margin-top: -350px;
    border: 1px solid red;
// display: flex;
    padding: 0 10px;

}

