
html{
    min-width: max-content;
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    width: max-content;
    min-height: 120vh;
    
}

.container{
    height: calc(100vh - 60px);
    display: grid;
    place-content: center;
   
    
}


