html {
    min-width: min-content;


}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    min-width: 1024px;
    background-color: var(--body-light-bg);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

    &:focus-visible{
        outline: 5px auto  var(--card-link) ;
        outline-offset: 2px;
    }
}

ul {
    list-style: none;


}

.page-container {
    max-width: 1500px;
    margin: 0 auto;

}
.product-container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: var(--light-bg);

}

.card-container-1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 200;
    margin-top: -350px;
    padding: 0 10px;

}

.card-container-2 {
    width: 100%;
    position: relative;
    padding: 0 20px;

}
.card-container-3 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    height: 420px;

}
.card-container-4 {
    width: 100%;
    position: relative;
    padding: 0 20px;

}