:root{
    --body-light-bg:hsl(180, 8%, 92%);
    --nav-dark: hsl(214, 27%, 10%);
    --nav2-dark:hsl(213, 28%, 19%);
    --nav3-links:hsl(0,0%,20%);
    --text-light: hsl(0,0%,100%);
    --light-bg: hsl(0,0%,100%);
    --text-less-light: hsl(0, 0%, 80%);
    --categories-label-bg: hsl(0, 0%, 95%);
    --categories-label: hsl(0, 0%, 33%);
    --categories-label-bg-active: hsl(0, 0%, 90%);
    --accent:hsl(34, 99%, 70%);
    --search-button-hover:hsl(34, 88%, 62%);
    --accent-active:hsl(32, 88%, 50%);
    --down-arrow:hsl(213, 7%, 68%);
    --cart-count:hsl(34,97%,48%);
    --card-bg: hsl(0,0%,100%);
    --card-text-small: hsl(180,6%,6%);
    --card-link:hsl(189,100%,26%);
    --card-signin-button:hsl(50,100%,54%);
    --card-signin-button-active:hsl(50,100%,48%);
    --card-wide-header:hsl(0,0%,27%);
    --card-scrollbar-thumb:hsl(0, 0%, 67%);
    --card-scrollbar-thumb-hover:hsl(0, 0%, 53%);
    --footer-bg: hsl(213,28%, 19%);
    --footer-bg-bottom:hsl(212, 28%, 10%);
    --back-to-top-bg:hsl(213, 24%, 28%);
    --back-to-top-bg-hover:hsl(213, 19%, 35%);
    --bottom-links-secondary:hsl(0,0%,60%);
    --bottom-links-primary:hsl(0,0%,87%);
    --thumbnail-border:hsl(216,6%,65%);
    --thumbnail-border-active:hsl(31,100%,45%);
    --section-divider:hsl(0deg 0% 0% / 10%);
    --dark-orange-text: hsl(12, 96%, 35%);
    --time-limit:hsl(180, 2%, 34%);
    --left-in-stock:hsl(120, 100%, 23%);
    --btn-buy-now:hsl(36, 100%, 55%);
    --btn-buy-now-hover:hsl(33, 100%, 49%);


}
