:root{
    --nav-dark: hsl(214, 27%, 10%);
    --text-light: hsl(0,0%,100%);
    --light-bg: hsl(0,0%,100%);
    --text-less-light: hsl(0, 0%, 80%);
    --categories-label-bg: hsl(0, 0%, 95%);
    --categories-label: hsl(0, 0%, 33%);
    --categories-label-bg-active: hsl(0, 0%, 90%);
    --accent:hsl(34, 99%, 70%);
    --accent-active:hsl(32, 88%, 50%);
    --down-arrow:hsl(213, 7%, 68%);
    --cart-count:hsl(34,97%,48%);

}
