
:root{
    --fs-300:  0.75rem;//12px
    --fs-350:  0.8125rem;//13px
    --fs-400: 0.875rem;//14px
    --fs-500:  1rem;//16px
    --fs-600:  1.3125rem;//21px
}


body{

    font-family: 'Ubuntu', sans-serif;

}

option{
    font-family: 'Ubuntu', sans-serif;
    
}
h2{
    font-size: var(--fs-600);
}